body {
  font-family: 'atomic age';
  margin: 0;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(16, 22, 51);
  padding: 8px 56px;
}

.header img {
  width: 100px;
  height: 100px;
  transition: transform 6s ease;
}

.header img:hover {
  border-radius: 50%;
  transform: rotate(360deg);
  box-shadow:
    0 0 2px #fff,
    0 0 7px #04fcfc;
}

main {
  background: rgb(20, 28, 65);
  display: flex;
  justify-content: center;
}

main figure {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

footer {
  background: rgb(16, 22, 51);
  display: flex;
  justify-content: end;
  padding: 16px 32px;
}

h1 {
  color: aliceblue;
  font-size: 100px;
  display: flex;
  margin: 0;
  text-shadow:
    0 0 7px #fff,
    0 0 10px #04fcfc;
}

h2 {
  color: aliceblue;
  font-size: 56px;
  margin: 16px 0;
  text-shadow:
    0 0 2px #fff,
    0 0 7px #04fcfc;
}

h3 {
  color: aliceblue;
  font-size: 32px;
  margin: 0;
  text-shadow:
    0 0 1px #fff,
    0 0 4px #04fcfc;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 32px 32px 32px;
  gap: 12px;
}

#gallery img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  border: 2px solid #04fcfc;
  object-fit: cover;
}

#gallery img:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow:
    0 0 15px 1px #04fcfc;
}

#gallery img:focus {
  cursor: pointer;
  transform: scale(1.04);
  box-shadow:
    0 0 15px 1px #04fcfc;
}

#myDialog {
  display: none;
  flex-direction: column;
  align-items: center;
  background: rgb(16, 22, 51);
  border-radius: 16px;
  border: 3px solid #04fcfc;
  box-shadow:
    0 0 200px 20px #04fcfc;
}

#myDialog::backdrop {
  background-color: #4f4b4bb8;
}

#myDialog header {
  display: flex;
  width: 100%;
  justify-content: end;
}

#close_button {
  width: 24px;
  height: 24px;
  color: #ffffff;
  background-color: #5c7076;
  border-radius: 4px;
}

#close_button:hover {
  color: #04fcfc;
}

.dialog_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialog_main h3 {
  margin: 8px 0;
}

#imgDialog img {
  width: auto;
  height: 600px;
  padding: 8px 32px;
}

.dialog_footer {
  display: flex;
  align-items: center;
  padding: 16px;
}

#imgBack {
  width: 40px;
  height: 40px;
  margin-right: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

#imgNext {
  width: 40px;
  height: 40px;
  margin-left: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
}

.arrow {
  border: solid rgb(0, 251, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#nummberOfImg {
  display: flex;
  justify-content: center;
}

@media (max-width: 1131px) {

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 24px;
  }

  .header img {
    width: 80px;
    height: 80px;
  }

}

@media (max-width: 760px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
    padding: 8px 0;
    margin: 0;
  }

  h3 {
    font-size: 16px;
  }

  .header {
    justify-content: space-between;
    padding: 8px 16px;
  }

  .header img {
    width: 40px;
    height: 40px;
  }

  main {
    padding: 16px 24px;
  }

  #myDialog {
    padding: 8px;
  }

  #imgDialog img {
    width: 280px;
    height: auto;
    padding: 0;
  }

  #headerDialog {
    font-size: 20px;
    padding: 0;
  }
}