#window {
  background-color: #111;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 100%;
  height: 100%;
}

#canvas {
  border: 2px solid rgb(111, 1, 111);
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 777px;
  height: 444px;
  margin-top: -55px;;
}

#intro {
  white-space: nowrap;
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 11px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

#pressStart {
  white-space: nowrap;
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 17px;
  position: absolute;
  top: 466px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

#score {
  display: none;
  color:rgb(111, 1, 111);
  font-family: 'Press Start 2P';
  position: relative;
  top: 402px;
  left: -375px;
  transform: translateY(-50px) rotate(-90deg);
  display: flex;
  justify-content: center;
  text-shadow: 0px 0px 5px rgb(0, 220, 254);
}

#bossTextSeq {
  white-space: nowrap;
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 15px;
  position: absolute;
  top: 333px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: flex;
}

#gameOver {
  white-space: nowrap;
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 44px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

#youWin {
  white-space: nowrap;
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 44px;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

#nextLvl {
  white-space: nowrap;
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 22px;
  position: absolute;
  top: 333px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

#highScore {
  white-space: nowrap;
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 22px;
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

#upgradeText {
  white-space: nowrap;
  color: rgb(111, 1, 111);
  font-family: 'Press Start 2P';
  font-size: 44px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

#lvlDisplay {
  display: none;
  color:rgb(111, 1, 111);
  font-family: 'Press Start 2P';
  position: relative;
  top: 444px;
  left: 375px;
  transform: translateY(-50px) rotate(-90deg);
  display: none;
  justify-content: center;
  text-shadow: 0px 0px 5px rgb(0, 220, 254);
}

#lvlpp {
  white-space: nowrap;
  color: rgb(111, 1, 111);
  text-shadow: 0 0 33px rgb(28, 236, 255);
  font-family: 'Press Start 2P';
  font-size: 77px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -55px;
  display: none;
}

.newHighScoreContainer {
  color: rgb(57, 255, 20);
  font-family: 'Press Start 2P';
  font-size: 11px;
  position: absolute;
  top: 111px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}